hr.w-100
footer
	.wrapper
		.row.no-gutters
			.col-md-6.offset-md-6
				p Имеется высшее юридическое образование. 
				p Успешно осуществляю юридическую консультационную деятельность уже долгое время.
				p Оказываю качественные юридические услуги по адекватной цене, звоните. 
				p.phone.text-nowrap Тел.: 8 (918) 129-80-98 		
						
						
